<div
  class="absolute left-1.5 top-1/2 -translate-y-1/2 inline-flex flex-col rounded-md shadow-2xl"
  role="group"
>
  <button
    [ngClass]="activeTool === toolTypeEnum.DRAW_LINE ? 'selected' : ''"
    (click)="onToolButtonClick(toolTypeEnum.DRAW_LINE)"
    data-tooltip-target="tooltip-line"
    data-tooltip-placement="right"
    type="button"
    class="basis-auto h-50 mb-2 md:mb-0 text-white bg-gray-800 hover:bg-blue-800 font-medium text-sm px-5 py-2.5 text-center dark:bg-gray-800 dark:hover:bg-gray-600 border-gray-600 border-b"
  >
    <fa-icon [icon]="faPencil" class="text-2xl"></fa-icon>
  </button>
  <div
    id="tooltip-line"
    role="tooltip"
    class="absolute z-20 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
  >
    Border Line
    <div class="tooltip-arrow" data-popper-arrow></div>
  </div>

  <button
    [ngClass]="activeTool === toolTypeEnum.DRAW_RECTANGLE ? 'selected' : ''"
    (click)="onToolButtonClick(toolTypeEnum.DRAW_RECTANGLE)"
    data-tooltip-target="tooltip-square"
    data-tooltip-placement="right"
    type="button"
    class="basis-auto mb-2 md:mb-0 text-white bg-blue-700 hover:bg-blue-800 font-medium text-sm px-5 py-2.5 text-center dark:bg-gray-800 dark:hover:bg-gray-600 border-gray-600 border-b"
  >
    <fa-icon [icon]="faSquare" class="text-2xl"></fa-icon>
  </button>
  <div
    id="tooltip-square"
    role="tooltip"
    class="absolute z-20 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
  >
    Square Border
    <div class="tooltip-arrow" data-popper-arrow></div>
  </div>

  <button
    [ngClass]="activeTool === toolTypeEnum.DRAW_ELLIPSE ? 'selected' : ''"
    (click)="onToolButtonClick(toolTypeEnum.DRAW_ELLIPSE)"
    data-tooltip-target="tooltip-circle"
    data-tooltip-placement="right"
    type="button"
    class="basis-auto mb-2 md:mb-0 text-white bg-blue-700 hover:bg-blue-800 font-medium text-sm px-5 py-2.5 text-center dark:bg-gray-800 dark:hover:bg-gray-600 border-gray-600 border-b"
  >
    <fa-icon [icon]="faCircle" class="text-2xl"></fa-icon>
  </button>
  <div
    id="tooltip-circle"
    role="tooltip"
    class="absolute z-20 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
  >
    Circle Border
    <div class="tooltip-arrow" data-popper-arrow></div>
  </div>

  <button
    (click)="onEraseButtonClick()"
    data-tooltip-target="tooltip-eraser"
    data-tooltip-placement="right"
    type="button"
    class="basis-auto mb-2 md:mb-0 text-white bg-blue-700 hover:bg-blue-800 font-medium text-sm px-5 py-2.5 text-center dark:bg-gray-800 dark:hover:bg-gray-600 border-gray-600 border-b"
  >
    <fa-icon [icon]="faEraser" class="text-2xl"></fa-icon>
  </button>
  <div
    id="tooltip-eraser"
    role="tooltip"
    class="absolute z-20 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
  >
    Eraser
    <div class="tooltip-arrow" data-popper-arrow></div>
  </div>

  <button
    (click)="onCropClick()"
    data-tooltip-target="tooltip-row"
    data-tooltip-placement="right"
    type="button"
    class="basis-auto mb-2 md:mb-0 text-white bg-blue-700 hover:bg-blue-800 font-medium text-sm px-5 py-2.5 text-center dark:bg-gray-800 dark:hover:bg-gray-600 border-gray-600 border-b"
  >
    <fa-icon [icon]="faSeedling" class="text-xs"></fa-icon>
    <fa-icon [icon]="faSeedling" class="text-xs"></fa-icon>
    <fa-icon [icon]="faSeedling" class="text-xs"></fa-icon>
  </button>
  <div
    id="tooltip-row"
    role="tooltip"
    class="absolute z-20 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
  >
    Row Crop
    <div class="tooltip-arrow" data-popper-arrow></div>
  </div>

  <button
    (click)="onRowCropClick()"
    data-tooltip-target="tooltip-single"
    data-tooltip-placement="right"
    type="button"
    class="basis-auto mb-2 md:mb-0 text-white bg-blue-700 hover:bg-blue-800 font-medium text-sm px-5 py-2.5 text-center dark:bg-gray-800 dark:hover:bg-gray-600 border-gray-600 border-b"
  >
    <fa-icon [icon]="faSeedling" class="text-2xl"></fa-icon>
  </button>
  <div
    id="tooltip-single"
    role="tooltip"
    class="absolute z-20 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
  >
    Single Crop
    <div class="tooltip-arrow" data-popper-arrow></div>
  </div>

  <button
    data-tooltip-target="tooltip-texture"
    data-tooltip-placement="right"
    type="button"
    class="basis-auto mb-2 md:mb-0 text-white bg-blue-700 hover:bg-blue-800 font-medium text-sm px-5 py-2.5 text-center dark:bg-gray-800 dark:hover:bg-gray-600"
  >
    <fa-icon [icon]="faBrush" class="text-2xl"></fa-icon>
  </button>
  <div
    id="tooltip-texture"
    role="tooltip"
    class="absolute z-20 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
  >
    Ground Texture
    <div class="tooltip-arrow" data-popper-arrow></div>
  </div>
</div>
