<div class="relative flex grow">
  <p *ngIf="gardenPlot$ | async"></p>
  <!--Upper Left Buttons-->
  <div class="absolute top-1.5 left-1.5 shadow-sm" role="group">
    <a type="button"
      class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 border-gray-600 border-r-2 hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:bg-gray-800 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
      <fa-icon [icon]="faAnglesRight" class="mx-2 text-2xl"></fa-icon>
      Plot Name - placeholder
    </a>
    <a type="button"
      class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 border-gray-600 border-r-2 hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:bg-gray-800 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
      <fa-icon [icon]="faRotateLeft" class="ml-2 text-2xl"></fa-icon>
    </a>
    <a type="button"
      class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white dark:bg-gray-800 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-700">
      <fa-icon [icon]="faRotateRight" class="ml-2 text-2xl"></fa-icon>
    </a>
  </div>
  <!-- Left Side Tool Bar-->
  <div class="absolute left-1.5 top-1/2 -translate-y-1/2 inline-flex flex-col rounded-md shadow-sm" role="group">
    <button data-tooltip-target="tooltip-line" data-tooltip-placement="right" type="button"
      class="basis-auto h-50 mb-2 md:mb-0 text-white bg-gray-800 hover:bg-blue-800 focus:outline-none font-medium text-sm px-5 py-2.5 text-center dark:bg-gray-800 dark:hover:bg-gray-600 border-gray-600 border-b">
      <fa-icon [icon]="faPencil" class="text-2xl"></fa-icon>
    </button>
    <div id="tooltip-line" role="tooltip"
      class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Border Line
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>

    <button data-tooltip-target="tooltip-square" data-tooltip-placement="right" type="button"
      class="basis-auto mb-2 md:mb-0 text-white bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium text-sm px-5 py-2.5 text-center dark:bg-gray-800 dark:hover:bg-gray-600 border-gray-600 border-b">
      <fa-icon [icon]="faSquare" class="text-2xl"></fa-icon>
    </button>
    <div id="tooltip-square" role="tooltip"
      class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Square Border
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>

    <button data-tooltip-target="tooltip-circle" data-tooltip-placement="right" type="button"
      class="basis-auto mb-2 md:mb-0 text-white bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium text-sm px-5 py-2.5 text-center dark:bg-gray-800 dark:hover:bg-gray-600 border-gray-600 border-b">
      <fa-icon [icon]="faCircle" class="text-2xl"></fa-icon>
    </button>
    <div id="tooltip-circle" role="tooltip"
      class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Circle Border
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>

    <button data-tooltip-target="tooltip-eraser" data-tooltip-placement="right" type="button"
      class="basis-auto mb-2 md:mb-0 text-white bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium text-sm px-5 py-2.5 text-center dark:bg-gray-800 dark:hover:bg-gray-600 border-gray-600 border-b">
      <fa-icon [icon]="faEraser" class="text-2xl"></fa-icon>
    </button>
    <div id="tooltip-eraser" role="tooltip"
      class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Eraser
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>

    <button data-tooltip-target="tooltip-row" data-tooltip-placement="right" type="button"
      class="basis-auto mb-2 md:mb-0 text-white bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium text-sm px-5 py-2.5 text-center dark:bg-gray-800 dark:hover:bg-gray-600 border-gray-600 border-b">
      <fa-icon [icon]="faSeedling" class="text-xs"></fa-icon>
      <fa-icon [icon]="faSeedling" class="text-xs"></fa-icon>
      <fa-icon [icon]="faSeedling" class="text-xs"></fa-icon>
    </button>
    <div id="tooltip-row" role="tooltip"
      class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Row Crop
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>

    <button data-tooltip-target="tooltip-single" data-tooltip-placement="right" type="button"
      class="basis-auto mb-2 md:mb-0 text-white bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium text-sm px-5 py-2.5 text-center dark:bg-gray-800 dark:hover:bg-gray-600 border-gray-600 border-b">
      <fa-icon [icon]="faSeedling" class="text-2xl"></fa-icon>
    </button>
    <div id="tooltip-single" role="tooltip"
      class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Single Crop
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>

    <button data-tooltip-target="tooltip-texture" data-tooltip-placement="right" type="button"
      class="basis-auto mb-2 md:mb-0 text-white bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium text-sm px-5 py-2.5 text-center dark:bg-gray-800 dark:hover:bg-gray-600">
      <fa-icon [icon]="faBrush" class="text-2xl"></fa-icon>
    </button>
    <div id="tooltip-texture" role="tooltip"
      class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
      Ground Texture
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
  </div>
</div>